<%= form_with url: main_create_path, method: :post , data: {turbo: false} do |f| %>
    <div>
        <%=f.label :email, "Email"%> 
        <%=f.text_field :email%>
    </div>
    <div>
        <%=f.label :login, "password"%> 
        <%=f.password_field :password%>
    </div>
   <%=f.submit :OK %>
   <%= link_to "back to main" , main_path%>
<% end %>