<h1>My inventory</h1>
<%session[:back] = "my_inventory"%>
<table class="display" style="width:100%">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>save</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        <% @inven.each do |i| %>
        <% item_name = Item.where(id: i.item_id).first.name%>
        <% url = "/updateinventory"%>
        <%= form_with url: url, method: :post , data: {turbo: false} do |f| %>
        <%=f.hidden_field :market_id, value: i.id%>
        <%=f.hidden_field :price_check, value: i.price%>
        <%=f.hidden_field :quantity_check, value: i.quantity%>
        <tr>
            <td><%=item_name%></td>
            <td><%=f.text_field :price, value: i.price%></td>
            <td><%=f.text_field :quantity, value: i.quantity%></td>
            <td><%=f.submit :save %></td>
            <%end%>
            <td> <%= button_to "Delete", i, method: :delete %></td>
        </tr>
        <%end%>
        
        <% addurl = "/addmarket"%>
        <%= form_with url: addurl, method: :post , data: {turbo: false} do |f| %>
        <%=f.hidden_field :user_id, value: session[:id]%>
        <tr>
            <td><%= f.select :item_id, @items.map{|i| [i.name, i.id]}, value: "please select"%></td>
            <td><%=f.text_field :price %></td>
            <td><%=f.text_field :quantity%></td>
            <td><%= f.submit :add %></td>   
        <% end %>
    </tr>
        
    </tbody>
</table>
<%= link_to "back to main" , main_path%>