<h3>Top Seller</h3>
<%= link_to "back to main" , main_path%>
<%= form_with url: create_tables_path, method: :post , data: {turbo: false} do |f| %>
    <p>date</p>
    <%=f.datetime_field :startdate%>
    <%=f.datetime_field :finaldate%>
    <%=f.submit :Search %>
<%end%>

<%if session[:create]%>
    <%$x = Inventory.where(created_at: @startDate..@Finaldate)%>
    <%$total = Inventory.where(created_at: @startDate..@Finaldate).select("seller_id, item_id, sum(price * quantity) as total_price").group("item_id").order("total_price DESC")%>
    <%$amount = Inventory.where(created_at: @startDate..@Finaldate).select("seller_id, item_id, sum(quantity) as total_amount").group("item_id").order("total_amount DESC")%>
    <%if $total.first != nil%>
    <table>
        <thead>
            <tr>
                <th>Best Seller</th>
                <th>Item</th>
                <th>Best Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% $total = $total.first%>
                <th><%=User.where(id: $total.seller_id).first.name%></th>
                <th><%=Item.where(id: $total.item_id).first.name%></th>
                <th><%=$total.total_price%></th>
            </tr>
        </tbody>
    </table>
    <%else%>
        <p>No one is seller that has best price in your date range</p>
    <%end%>
    <%if $amount.first != nil%>
    <table>
        <thead>
            <tr>
                <th>Best Seller</th>
                <th>Item</th>
                <th>Best Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <%$amount = $amount.first%>
                <th><%=User.where(id: $amount.seller_id).first.name%></th>
                <th><%=Item.where(id: $amount.item_id).first.name%></th>
                <th><%=$amount.total_amount%></th>
            </tr>
        </tbody>
    </table>
    <%else%>
        <p>No one is seller that has best amount of quantity in your date range</p>
    <%end%>
    <% session[:create] = false%>
<%end%>