<%= form_with url: newpassword_path , method: :post , data: {turbo: false} do |f| %>
    <div>
        <%= f.label :password, "current password"%>
        <%= f.text_field :password%>
    </div>
    <div>
        <%= f.label :newPassword, "new password"%>
        <%= f.text_field :newPassword%>
    </div>
    <div>
        <%= f.label :confirmPassword, "confirm new password"%>
        <%= f.text_field :confirmPassword%>
    </div>
    <div>
        <%= f.submit :confirm%>
    </div>

<%end%>